
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/home">
      ITSCH
      <img src="http://cdhidalgo.tecnm.mx/images/itsch.jpg" alt="" height="45">
    </a>
    <!--http://cdhidalgo.tecnm.mx/images/itsch.jpg-->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="/home">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/categoria">Crear Anuncio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/contacto">Contacto</a>
      </li>
    </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="https://www.facebook.com/TecNM.Campus.Ciudad.Hidalgo/?locale=es_LA" class="nav-link mx-1"><span class="bi-facebook"></span></a>
    </li>
    <li class="nav-item">
      <a href="https://twitter.com/tecnm_cdhidalgo?lang=es" class="nav-link mx-1"><span class="bi-twitter"></span></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link mx-1"><span class="bi-instagram"></span></a>
    </li>
  </ul>
  <a href="/login">
    <button type="button" class="btn btn-danger">Cerrar sesión</button>
  </a>
  </div>
</nav>

<div class="container">
  <div class="row">
      <div class="col">
          <table class="table table-dark table-hover">
              <thead>
                  <tr>
                      <th>Noticia</th>
                      <th>Carrera</th>
                      <th>Relevancia</th>
                      <th>Imagen</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let p of preguntas">
                      <!--<td>{{p.no}}</td>-->
                      <td style="max-width: 100 px;">{{p.descripcion}}</td>
                      <td>{{p.carreras}}</td>
                      <td>{{p.relevancia}}
                        <img src="{{p.icono}}?alt=media" alt="">
                      </td>
                      <td style="max-width: 400px; max-height: 400px;">
                        <img src="{{p.foto}}?alt=media" style="max-width: 400px; max-height: 400px;" alt="">
                      </td>
                        <td class="text-end" style="max-width: 100 px;">
                          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editarPregunta(p)"><i class="bi bi-pencil-fill"></i></button>
                          <br>
                          <button class="btn btn-outline-danger" (click)="borrarAnuncio(p.id,p.foto)"><i class="bi bi-trash-fill"></i></button>
                        </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Noticia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control"  [(ngModel)]="modP.descripcion">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="modificarPregunta()">Guardar</button>
      </div>
    </div>
  </div>
</div>

