<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container"[@pulse]>
    <a class="navbar-brand" href="/home">
      ITSCH
      <img src="http://cdhidalgo.tecnm.mx/images/itsch.jpg" alt="" height="45">
    </a>
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="/home">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/categoria">Crear Anuncio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/contacto">Contacto</a>
      </li>
      <li class="nav-item">
      </li>
    </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="https://www.facebook.com/TecNM.Campus.Ciudad.Hidalgo/?locale=es_LA" class="nav-link mx-1"><span class="bi-facebook"></span></a>
    </li>
    <li class="nav-item">
      <a href="https://twitter.com/tecnm_cdhidalgo?lang=es" class="nav-link mx-1"><span class="bi-twitter"></span></a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link mx-1"><span class="bi-instagram"></span></a>
    </li>
  </ul>
  <a href="/login">
    <button type="button" class="btn btn-danger">Cerrar sesión</button>
  </a>
  </div>
</nav>


<div class="container">
  <div class="row">
      <div class="col" [@fadeInOut]>
        <div class="card mt-3" >
              <div class="card-header bg-success text-center fs-3 fw-semibold text-white">Publica un anuncio nuevo</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <!-- asunto-->
                      <label for="fileName">Asunto:</label>
                      <input type="text" id="asunto" class="form-control mt-3" placeholder="Escribe aquí" [(ngModel)]="newP.asunto"/>
                      <!-- descripcion-->
                      <label for="fileName">Descripcion:</label>
                      <input type="text" style="height: 200px;" id="asunto" class="form-control mt-3" placeholder="Escribe aquí"[(ngModel)]="newP.descripcion" />
                    </div>
                    <div class="col">
                        <!-- carreras-->
                        <label for="">Carreras</label>
                        <select class="form-select" [(ngModel)]="newP.carreras">
                          <option value="" disabled selected>Elige:</option>
                          <option value="General">General</option>
                          <option value="Sistemas">Sistemas</option>
                          <option value="Industrial">Industrial</option>
                          <option value="Gestion">Gestion</option>
                          <option value="Mecatronica">Mecatronica</option>
                          <option value="Biotecnologia">Biotecnologia</option>
                          <option value="Nanotecnologia">Nanotecnologia</option>
                          <option value="Tic's">Tic's</option>
                        </select>
                        <!-- relevancia -->
                        <label for="">Relevancia</label>
                        <select class="form-select" [(ngModel)]="newP.relevancia">
                          <option value="" disabled selected>Elige:</option>
                          <option value="importante">importante</option>
                          <option value="medio">medio</option>
                          <option value="baja">baja</option>
                        </select>
                        <!-- Seleccionar archivo -->
                        <input type="file" class="form-control mt-3 " (change)="onFileSelected($event)" />
                        <!-- Botón para subir el archivo -->
                        <button class="btn btn-primary float-end mt-3" (click)="uploadFile()">
                          <i class="bi bi-cloud-plus"> Subir Anuncio</i>
                        </button>
                      </div>
                    </div>
                </div>
          </div>
      </div>
     <!-- <div class="col"></div> -->
  </div>
